<main>
<div class="main_imgae">
  ようこそ,tweet appへこのサイトはあなたの思っている事をつぶやくサイト
  <div class="menber_add">
    <a href="/posts" ><p>This site is SNS Service Lets!Member Comenucation </p></a>
  </div>
</div>
</main>
<h1>ログインアプリ</h1>
