<main>
<div class="main_imgae">
  ようこそ,tweet appへ<br>このサイトはあなたの思っている事をつぶやくサイト
  <div class="menber_add">
    <a href="/posts" ><p>This site is SNS Service. <br>Lets! Member Comenucation </p></a>
  </div>
</div>
</main>
