main{
  font-weight:900;
  font-size:30px;
  color: black;
  position: relative;
  font-family :Quicksand, sans-serif;
    .back_image{
      background-image:url("");
      height: 100%;
      width: auto;
      padding: 400px 0 100px;
      min-height: 100vh;
      background-size: cover;
    }
    .page_name{
      position: absolute; top: 0;
    }
    .user_image{
      border-radius: 50%;
      width: 300px;
      height: 300px;
      object-fit: cover;
      margin: auto;
    }
    .user_profile{
      text-align: center;
    }
}
